.git/
.github/
.vscode/
.vscode-test/
**/src/
**/.eslintignore
**/.eslintrc.json
**/package-lock.json
**/tsconfig.json
**/*.vsix
**/webpack.config.js
node_modules/
client/node_modules/
server/documentation/
!server/node_modules/
server/tree-sitter-apache_dispatcher_config.wasm
test/
.editorconfig
.eslintrc.base.json
.gitattributes
.gitignore
DEVELOPMENT.md
.vscodeignore
tsconfig.base.json
vscode-apache-dispatcher-config-language-support.code-workspace
webpack.config.common.js
